.container {
    position: absolute; /* Position the container absolutely */
    top: 23%; /* Adjust to center vertically */
    left: 14%; /* Adjust to center horizontally */
    transform: translate(-50%, -50%); /* Center the container */
    color: white; /* Set the text color for visibility */
    padding: 0px; /* Optional: Add padding to the container */
    height: 0%
  }
  
.title {
    font-size: 61px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the text bold */
}
.background {
    position: absolute;
    display: flex;
    object-fit: cover;
    margin-top: -0.19%;
    padding: 0;
    height: 280px;
    width: 100%;
}   