.about-us-container {
    display: flex;
    background: transparent;
    margin-top: 36.2%;
    margin-left: 13.7%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items vertically */
}

.person {
    max-width: 43%;
    height: auto;
    object-fit: cover;
    border-radius: 300px; /* Optional: rounded corners */
    flex-shrink: 0; /* Prevent the image from shrinking */
    margin-right: 2em; /* Adjust spacing between image and text */
}

.text-container {
    flex: 1; /* Allow text container to grow */
    margin-top: -45em;
    margin-left: 40em;
    margin-right: 10em;
}
/*text mods*/
.about-title {
    font-size: 16px;
    font-weight: bold;
    color: #5A766A;
    margin-bottom: 0em;
}

.sub-title {
    font-size: 49px;
    font-weight: bold;
    line-height: 58.8px;
    color: black;
    margin-bottom: 0.5em;
}

.body {
    font-size: 16px;
    line-height: 24px;
}

.body span {
    display: block;
    margin-bottom: 1em;
}