.bannersquarecontainer {
  display: flex;
  height: 20rem; /* Adjust to viewport height */
  flex-direction: row;
  width: 100%;
}

.leftbannersquare, .centerbannersquare2 {
  background-color: rgb(238, 240, 239);
  width: 25%; /* Ensure all squares take up 25% width */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  text-align: center; /* Center text */
}

.rightbannersquare,.centerbannersquare {
  background-color: #5A766A;
  width: 25%; /* Ensure all squares take up 25% width */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  text-align: center; /* Center text */
}

.bannersquare:hover {
  filter: brightness(70%); /* Apply a darkening effect on hover */
  transition: filter 0.3s ease; /* Smooth transition for hover effect */
}

.circle-image-container {
  background-color: white;
  border-radius: 100%; /* Make the image circular */
  height: 30%;
  width: 30%;
  margin-left: 35%;
  margin-top: 20%;
}

.circle-image {
  width: 55%; /* Adjust width as needed */
  height: auto;
  object-fit: cover; /* Ensure the image covers the entire circle */
  margin-top: 15%;
}

.banner-title1 {
  font-size: 25px;
  color: black;
  font-weight: bold;
  margin-top: 1rem;
}

.banner-subtitle1 {
  font-size: 16px;
  color: black;
  margin-top: 0.5rem;
}

.banner-title2 {
  font-size: 25px;
  color: white;
  font-weight: bold;
  margin-top: 1rem;
}

.banner-subtitle2 {
  font-size: 16px;
  color: white;
  margin-top: 0.5rem;
}