.choosecontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 20px;
  background-color: #F6F7F6;
}

.choosebottom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  margin-left: 5%;
  
}

.choosetop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  height: 50%;
}

.choosetitle{
  margin-bottom: 20px;
  font-size: 16px;
}
.chooseheader1{
  margin-bottom: 20px;
  font-size: 45px;
}
.choosesubtitle{
  margin-bottom: 20px;
  font-size: 16px;
}
.choosebody1{
  margin-bottom: 2%;
  font-size: 20px;
  font-weight: bold;
}
.choosebody2 {
  margin-bottom: 2%;
  font-size: 14px;
}

.choosecustombutton {
  margin-top: 20px;
}

.chooseleft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-left: -20%;
}
.chooseright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-left: 35%;
  margin-top: -110%;

}

.chooseimg, .choose2img, .choose3img, .choose4img {
  width: 100%;
  margin-bottom: 20px;
}
