/* Navigation Bar Styles */
.nav {
  position: fixed;
  display: flex;
  background-color: #ffffff;
  height: 9.25%; /* Converted to percentage */
  width: 100%;
  z-index: 1;
  top: 0;
  transition: height 0.3s ease;
  flex-wrap: wrap; /* Allow wrapping for mobile adaptation */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Added shadow */
}

/* Expanded Nav Bar Style */
.nav.expanded {
  height: 19.5%; /* Converted to percentage */
}

/* Logo Styles */
.nav-logo {
  display: flex;
  align-items: center;
  height: 100%;
  width: 18.4%;
  background-color: #5a766a;
  transition: height 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Added shadow */
}

/* Expanded Logo Style */
.nav-logo.expanded {
  height: 100%; /* Adjusted height when expanded to maintain ratio */
}

/* Logo Image Styles */
.nav-image {
  height: 70%; /* Adjusted to maintain aspect ratio */
  width: 260%; /* Maintain aspect ratio */
  object-fit: scale-down;
  opacity: 0.9;
}

/* Menu Container Styles */
.nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 6%; /* Push to the right */
  margin-top: 2%;
  height: 9.3%; /* Converted to percentage */
  width: 35%;
  background-color: transparent;
  transition: height 0.3s ease;
}

.nav-menu.expanded {
  height: 100%;
}


/* Link Styles */
.nav-link {
  display: flex;
  align-items: center;
  color: #4e4b66;
  text-decoration: none;
  height: 100%;
  opacity: 0.8;
  cursor: pointer;
  flex: 1 1 auto; /* Allow links to adjust size for mobile */
}


.nav-link.active{
  color: #4e4b66;
}

.nav-link:hover{
  text-decoration: underline;
  color: #5a766a;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .nav {
    height: auto; /* Allow height to adjust */
    flex-direction: column; /* Stack items vertically */
  }

  .nav-logo {
    justify-content: center; /* Center logo in mobile view */
    width: 100%; /* Make logo container full width */
  }

  .nav-menu {
    justify-content: center; /* Center menu in mobile view */
    width: 100%; /* Make menu container full width */
    margin-left: 0; /* Remove left margin */
  }

  .nav-link{
    justify-content: center; /* Center links in mobile view */
    padding: 2% 0; /* Adjust padding for better spacing */
  }
}
