/* Navigation Bar Styles */
.nav {
  position: fixed;
  display: flex;
  background-color: #ffffff;
  height: 9.3vh;
  width: 100%;
  z-index: 998;
  top: 0%;
}

/* Logo Styles */
.nav-logo {
  position: fixed;
  height: 4.6vh;
  width: 245px;
  background-color: #5a766a;
  padding: 18px;
  z-index: 999;
}

/* Logo Image Styles */
.nav-image {
  height: 40px;
  width: 247.525px;
  object-fit: scale-down;
  opacity: 0.9;
}

/* Menu Container Styles */
.nav-menu {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 25%;
  height: 9.3vh;
  width: 100%;
  background-color: #ffffff;
}

/* Link Styles */
.nav-link {
  display: flex;
  align-items: center;
  color: #4e4b66;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  opacity: 0.8;
  cursor: pointer;
}

.nav-link.active {
  color: #4e4b66;
}

.nav-link:hover {
  text-decoration: underline; /* Add underline on hover */
  background-position: -100% 0; /* Move the background position to -100% (completely fill) on hover */
  color: #5a766a;
}

.contact-us {
  display: flex;
  align-items: center;
  color: #4e4b66;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  opacity: 0.8;
  cursor: pointer;  
}

.contact-us.active {
  color: #4e4b66;
}

.contact-us:hover {
  text-decoration: underline; /* Add underline on hover */
  background-position: -100% 0; /* Move the background position to -100% (completely fill) on hover */
  color: #5a766a;
}